.welcome{
    background-color: rgb(204, 201, 201);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 25px;
}

.cards3{
   display: flex;
   justify-content: center;
  
}

#lac{
    margin-right: 50px;
    margin-left: 50px;
}

.card-img-top{
    background-color: rgb(204, 201, 201);
    text-align: center;
}

.mb-3{
    width: 600px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

#button{
    width: 100px;
    margin-top: 50px;

}

#card_about{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
